# Please move/rename this file to argsdir with just the .conf extension and edit it with one option per line as needed.

# vdr (2.6.9) - The Video Disk Recorder

[vdr]

#Usage: vdr [OPTIONS]
#
#  -a CMD,   --audio=CMD    send Dolby Digital audio to stdin of command CMD
#            --cachedir=DIR save cache files in DIR (default: /var/cache/vdr)
#            --chartab=CHARACTER_TABLE
#                           set the character table to use for strings in the
#                           DVB data stream that don't begin with a character
#                           table indicator, but don't use the standard default
#                           character table (for instance ISO-8859-9)
#  -c DIR,   --config=DIR   read config files from DIR (default: /etc/vdr)
#  -d,       --daemon       run in daemon mode
#  -D NUM,   --device=NUM   use only the given DVB device (NUM = 0, 1, 2...)
#                           there may be several -D options (default: all DVB
#                           devices will be used); if -D- is given, no DVB
#                           devices will be used at all, independent of any
#                           other -D options
#            --dirnames=PATH[,NAME[,ENC]]
#                           set the maximum directory path length to PATH
#                           (default: 4095); if NAME is also given, it defines
#                           the maximum directory name length (default: 255);
#                           the optional ENC can be 0 or 1, and controls whether
#                           special characters in directory names are encoded as
#                           hex values (default: 0); if PATH or NAME are left
#                           empty (as in ",,1" to only set ENC), the defaults
#                           apply
#            --edit=REC     cut recording REC and exit
#  -E FILE,  --epgfile=FILE write the EPG data into the given FILE (default is
#                           'epg.data' in the cache directory)
#                           '-E-' disables this
#                           if FILE is a directory, the default EPG file will be
#                           created in that directory
#            --filesize=SIZE limit video files to SIZE bytes (default is 2000M)
#                           only useful in conjunction with --edit
#            --genindex=REC generate index for recording REC and exit
#  -g DIR,   --grab=DIR     write images from the SVDRP command GRAB into the
#                           given DIR; DIR must be the full path name of an
#                           existing directory, without any "..", double '/'
#                           or symlinks (default: none, same as -g-)
#  -h,       --help         print this help and exit
#  -i ID,    --instance=ID  use ID as the id of this VDR instance (default: 0)
#  -l LEVEL, --log=LEVEL    set log level (default: 3)
#                           0 = no logging, 1 = errors only,
#                           2 = errors and info, 3 = errors, info and debug
#                           if logging should be done to LOG_LOCALn instead of
#                           LOG_USER, add '.n' to LEVEL, as in 3.7 (n=0..7)
#  -L DIR,   --lib=DIR      search for plugins in DIR (default is /usr/lib64/vdr/plugins)
#            --lirc[=PATH]  use a LIRC remote control device, attached to PATH
#                           (default: /var/run/lirc/lircd)
#            --localedir=DIR search for locale files in DIR (default is
#                           /usr/share/locale)
#  -m,       --mute         mute audio of the primary DVB device at startup
#            --no-kbd       don't use the keyboard as an input device
#  -p PORT,  --port=PORT    use PORT for SVDRP (default: 6419)
#                           0 turns off SVDRP
#  -P OPT,   --plugin=OPT   load a plugin defined by the given options
#  -r CMD,   --record=CMD   call CMD before and after a recording, and after
#                           a recording has been edited or deleted
#            --resdir=DIR   read resource files from DIR (default: /usr/share/vdr)
#  -s CMD,   --shutdown=CMD call CMD to shutdown the computer
#            --split        split edited files at the editing marks (only
#                           useful in conjunction with --edit)
#            --showargs[=DIR] print the arguments read from DIR and exit
#                           (default: /etc/vdr/conf.d)
#            --tmplargs[=DIR] generate arguments template file(s) for VDR or
#                           specified plugins to DIR and exit
#                           (default: /tmp)
#  -t TTY,   --terminal=TTY controlling tty
#  -u USER,  --user=USER    run as user USER; only applicable if started as
#                           root; USER can be a user name or a numerical id
#                               DO NOT USE THIS OPTION with media-tv/gentoo-vdr-scripts !!!
#                               - if using OpenRC as the init system, please check
#                                   START_VDR_AS_ROOT in /etc/conf.d/vdr
#                               - if using SystemD as the init system, please consult
#                                   README.systemd deployed with media-tv/gentoo-vdr-scripts
#            --updindex=REC update index for recording REC and exit
#            --userdump     allow coredumps if -u is given (debugging)
#  -v DIR,   --video=DIR    use DIR as video directory (default: /var/lib/vdr/video)
#  -V,       --version      print version information and exit
#            --vfat         for backwards compatibility (same as
#                           --dirnames=250,40,1)
#  -w SEC,   --watchdog=SEC activate the watchdog timer with a timeout of SEC
#                           seconds (default: 0); '0' disables the watchdog
#
